body {
    background-color: #f4f4f4;
    background: rgb(255,239,0);
    background: linear-gradient(90deg, rgba(255,239,0,1) 0%, rgba(255,0,241,1) 25%, rgba(0,255,230,1) 97%);
    margin-top: 50px;
    font-family: 'Lato';
}

.bounce-top{animation:bounce-top .9s both}

@keyframes bounce-top{0%{transform:translateY(-45px);animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{transform:translateY(-24px);animation-timing-function:ease-in}65%{transform:translateY(-12px);animation-timing-function:ease-in}82%{transform:translateY(-6px);animation-timing-function:ease-in}93%{transform:translateY(-4px);animation-timing-function:ease-in}25%,55%,75%,87%{transform:translateY(0);animation-timing-function:ease-out}100%{transform:translateY(0);animation-timing-function:ease-out;opacity:1}}

.item {
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #ccc;
    transition: all .2s ease-in-out;
}

.item:hover {
    box-shadow: 0 0 1em #aaa;
}

.item.completed {
    text-decoration: line-through;
    animation-name: bounce-top;
    animation-duration: 1s;
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
    background-image: url("https://tenor.com/view/troll-face-creepy-smile-gif-18297390");
}
